{% extends "pokemons/BasePokemon.html.twig" %}
      {% block contenido %}
      <div class="container">

        <div class="row">
          <div class="col text-center">
            <h2>{{pokemon.name}} Nº {{pokemon.id}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col"><img src="{{pokemon.img}}" /></div>
          <div class="col">
            <div class="row"><div class="col">{{pokemon.description}}</div></div>
            <div class="row">
              <p>Debilidades:</p>
              <ul>
                {% for debilidad in pokemon.debilidades | default([]) %}
                  
                  <li>{{debilidad.name}}</li>
                {% endfor %}
                
              </ul>
            </div>
          </div>
        </div>
        {% endblock %}
    
